<!DOCTYPE html>
<html>
<head>
    <title>AI Companion</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="sidebar">
        <h2 id="logo">AI Companion</h2>

        <p class="menu-item">Dashboard</p>
        <p class="menu-item">Profile</p>
        <p class="menu-item">Goals</p>
        <p class="menu-item">Learning</p>
    </div>

    <div class="main">
        <h1>Welcome Mohammed</h1>

        <div class="cards">

    <div class="card">
    <h2>Goals</h2>
    {% for goal in goals %}
        <p>→ {{ goal[0] }}</p>
    {% else %}
        <p>No goals yet.</p>
    {% endfor %}
</div>

<div class="card">
    <h2>Profile</h2>

    <p>Age: 21</p>
    <p>Height: 183 cm</p>
    <p>Weight: 74 kg</p>
</div>

<div class="card">
    <h2>Roadmap</h2>

    <p>✓ Website</p>
    <p>→ Ollama Integration</p>
    <p>→ Code Teacher</p>
</div>

    </div>

</div>

</body>
</html>